<!DOCTYPE html>
<html>
  <head>
    <title>RetroTwitter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div>
        <h1 class = "large-title">
            RetroTwitter
        </h1>
        <h3 class = "small-title">
            Bring your tweets back to a radder time!
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form id="searchform" method="get" accept-charset="utf-8">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" id="searchbox" name="q" placeholder="Twitter Handle">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Start</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
  </body>
</html>
